<section class="container-fluid">
    <div class="row p-3 mt-3">
        <div class="col-sm-12 col-md-5">
            <div class="hr">
                <h1>{{toUpper symbol}}</h1>
            </div>
            <div class="stock-preview-detail">
                <div class="price">{{currency price}}</div>
            <div class="details">Zone: {{zone}}</div>
            <div class="details">Last Updated: {{date}}</div>
            </div>
        <div class="">
           <div class="hr">
                <h1>Past 5 Days</h1>
           </div>
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Date</th>
                        <th>Stock Price</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each pastDays}}
                    <tr>
                        <td>{{x}}</td>
                        <td>{{currency y}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
     <div class="col-12 col-md-7" id="chart"></div>
    </div>
</div>
</section>